.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.space-btw {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.gap-4 {
    gap: 0.4rem;
}

.gap-8 {
    gap: 0.8rem;
}

.gap-16 {
    gap: 1.6rem;
}

.gap-20 {
    gap: 2rem;
}

.gap-24 {
    gap: 2.4rem;
}

.gap-32 {
    gap: 3.2rem;
}

.gap-38 {
    gap: 3.8rem;
}

.z-index-2 {
    z-index: 2;
}
