@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('./styles/utils.css');

@font-face {
  font-family: Blogh;
  src: url(./assets/fonts/Blogh.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-900: #1D1D1F;
  --secondary-color-600: #871CD3;
  --error-color: #FF0000;
  --primary-color-50: #f9f9fc;
  --primary-color-100: #f3f3f6;
  --primary-color-200: #ebebed;
  --primary-color-300: #dcdcde;
  --primary-color-400: #b8b8bb;
  --primary-color-500: #99999b;
  --primary-color-600: #707072;
  --primary-color-700: #5c5c5f;
  --primary-color-800: #3e3e40;
  --primary-color-900: #1d1d1f;
  --secondary-color-50: #f3e5fa;
  --secondary-color-100: #e0bef4;
  --secondary-color-200: #CD93ED;
  --secondary-color-300: #B867E6;
  --secondary-color-400: #A843E0;
  --secondary-color-500: #981CD9;
  --secondary-color-600: #871CD3;
  --secondary-color-700: #6E1ACB;
  --secondary-color-800: #5719c5;
  --secondary-color-900: #0c16bb;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--primary-color-50);
}

a {
  all: unset;
  cursor: pointer;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  height: 5.2rem;
  border-radius: 2.4rem;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: .9;
}

label {
  font-size: 1.6rem;
}

input {
  width: 41.5rem;
  height: 5.2rem;
  padding: 1.6rem;
  border-radius: 2.4rem;
  border: none;
  background-color: var(--primary-color-200);
}

input:focus {
  outline-color: var(--secondary-color-600);
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: var(--primary-color-700);
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.354);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-bg-stage2 {
  background-color: rgba(0, 0, 0, 0.354);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.call-button {
  color: #FFF;
  background-color: var(--secondary-color-600);
  padding: 1.5rem 4rem;
  border-radius: 2.4rem;
  border: none;
}

.call-button:hover {
  background-color: var(--secondary-color-700);
}

.call-button:active {
  background-color: var(--secondary-color-800);
}

.outer-button {
  width: 41.5rem;
}

.primary-button {
  color: var(--secondary-color-600);
  border: .2rem solid var(--secondary-color-600);
  background-color: transparent;
}

.primary-button:hover {
  color: #FFF;
  border: .2rem solid var(--secondary-color-600);
  background-color: var(--secondary-color-600);
}

.primary-button:active {
  color: #FFF;
  border: .2rem solid var(--secondary-color-700);
  background-color: var(--secondary-color-700);
}

.secondary-button {
  color: #FFF;
  border: .2rem solid #FFF;
  background-color: transparent;
}

.secondary-button:hover {
  color: var(--secondary-color-600);
  border: .2rem solid #FFF;
  background-color: #FFF;
}

.secondary-button:active {
  color: #FFF;
  border: .2rem solid var(--secondary-color-800);
  background-color: var(--secondary-color-800);
}

.show-icon {
  position: absolute;
  right: 5%;
  top: 50%;
  cursor: pointer;
}

.outer-navlink {
  color: var(--secondary-color-800);
}

.outer-navlink:hover {
  opacity: .9;
}

.error-message {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.46rem;
  color: var(--error-color);
  position: absolute;
  bottom: -2rem;
  left: 1.5rem;
}

.max-content {
  width: max-content;
}